:root {
    --md-sys-color-primary: rgb(55 43 0);
    --md-sys-color-surface-tint: rgb(114 92 12);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(90 71 0);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-secondary: rgb(52 43 18);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(82 72 44);
    --md-sys-color-on-secondary-container: rgb(255 255 255);
    --md-sys-color-tertiary: rgb(20 50 27);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(49 80 55);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-error: rgb(96 0 4);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(152 0 10);
    --md-sys-color-on-error-container: rgb(255 255 255);
    --md-sys-color-background: rgb(255 248 240);
    --md-sys-color-on-background: rgb(31 27 19);
    --md-sys-color-surface: rgb(255 248 240);
    --md-sys-color-on-surface: rgb(0 0 0);
    --md-sys-color-surface-variant: rgb(235 225 207);
    --md-sys-color-on-surface-variant: rgb(0 0 0);
    --md-sys-color-outline: rgb(48 44 32);
    --md-sys-color-outline-variant: rgb(78 73 59);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(52 48 39);
    --md-sys-color-inverse-on-surface: rgb(255 255 255);
    --md-sys-color-inverse-primary: rgb(226 196 109);
    --md-sys-color-primary-fixed: rgb(90 71 0);
    --md-sys-color-on-primary-fixed: rgb(255 255 255);
    --md-sys-color-primary-fixed-dim: rgb(63 49 0);
    --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
    --md-sys-color-secondary-fixed: rgb(82 72 44);
    --md-sys-color-on-secondary-fixed: rgb(255 255 255);
    --md-sys-color-secondary-fixed-dim: rgb(59 50 24);
    --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
    --md-sys-color-tertiary-fixed: rgb(49 80 55);
    --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
    --md-sys-color-tertiary-fixed-dim: rgb(27 57 33);
    --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
    --md-sys-color-surface-dim: rgb(191 184 171);
    --md-sys-color-surface-bright: rgb(255 248 240);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(248 240 226);
    --md-sys-color-surface-container: rgb(234 226 212);
    --md-sys-color-surface-container-high: rgb(219 211 198);
    --md-sys-color-surface-container-highest: rgb(205 198 185);
}

@media (prefers-color-scheme: dark) {
    :root {
        --md-sys-color-primary: rgb(255 239 200);
        --md-sys-color-surface-tint: rgb(226 196 109);
        --md-sys-color-on-primary: rgb(0 0 0);
        --md-sys-color-primary-container: rgb(222 192 105);
        --md-sys-color-on-primary-container: rgb(16 11 0);
        --md-sys-color-secondary: rgb(255 239 200);
        --md-sys-color-on-secondary: rgb(0 0 0);
        --md-sys-color-secondary-container: rgb(208 193 157);
        --md-sys-color-on-secondary-container: rgb(16 11 0);
        --md-sys-color-tertiary: rgb(213 249 214);
        --md-sys-color-on-tertiary: rgb(0 0 0);
        --md-sys-color-tertiary-container: rgb(169 203 171);
        --md-sys-color-on-tertiary-container: rgb(0 15 3);
        --md-sys-color-error: rgb(255 236 233);
        --md-sys-color-on-error: rgb(0 0 0);
        --md-sys-color-error-container: rgb(255 174 164);
        --md-sys-color-on-error-container: rgb(34 0 1);
        --md-sys-color-background: rgb(22 19 11);
        --md-sys-color-on-background: rgb(234 226 212);
        --md-sys-color-surface: rgb(22 19 11);
        --md-sys-color-on-surface: rgb(255 255 255);
        --md-sys-color-surface-variant: rgb(76 70 57);
        --md-sys-color-on-surface-variant: rgb(255 255 255);
        --md-sys-color-outline: rgb(249 239 220);
        --md-sys-color-outline-variant: rgb(203 194 176);
        --md-sys-color-shadow: rgb(0 0 0);
        --md-sys-color-scrim: rgb(0 0 0);
        --md-sys-color-inverse-surface: rgb(234 226 212);
        --md-sys-color-inverse-on-surface: rgb(0 0 0);
        --md-sys-color-inverse-primary: rgb(89 70 0);
        --md-sys-color-primary-fixed: rgb(255 224 136);
        --md-sys-color-on-primary-fixed: rgb(0 0 0);
        --md-sys-color-primary-fixed-dim: rgb(226 196 109);
        --md-sys-color-on-primary-fixed-variant: rgb(23 16 0);
        --md-sys-color-secondary-fixed: rgb(241 225 187);
        --md-sys-color-on-secondary-fixed: rgb(0 0 0);
        --md-sys-color-secondary-fixed-dim: rgb(212 197 161);
        --md-sys-color-on-secondary-fixed-variant: rgb(23 16 0);
        --md-sys-color-tertiary-fixed: rgb(200 236 201);
        --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
        --md-sys-color-tertiary-fixed-dim: rgb(172 207 174);
        --md-sys-color-on-tertiary-fixed-variant: rgb(0 21 5);
        --md-sys-color-surface-dim: rgb(22 19 11);
        --md-sys-color-surface-bright: rgb(84 80 69);
        --md-sys-color-surface-container-lowest: rgb(0 0 0);
        --md-sys-color-surface-container-low: rgb(35 31 23);
        --md-sys-color-surface-container: rgb(52 48 39);
        --md-sys-color-surface-container-high: rgb(63 59 49);
        --md-sys-color-surface-container-highest: rgb(75 70 60);
    }
}

:root {
    /* Duration Tokens */
    --duration-short-1: 50ms;
    --duration-short-2: 100ms;
    --duration-short-3: 150ms;
    --duration-short-4: 200ms;
    --duration-medium-1: 250ms;
    --duration-medium-2: 300ms;
    --duration-medium-3: 350ms;
    --duration-medium-4: 400ms;
    --duration-long-1: 450ms;
    --duration-long-2: 500ms;
    --duration-long-3: 550ms;
    --duration-long-4: 600ms;
    --duration-extra-long-1: 700ms;
    --duration-extra-long-2: 800ms;
    --duration-extra-long-3: 900ms;
    --duration-extra-long-4: 1000ms;

    /* Easing Tokens */
    --easing-linear: cubic-bezier(0, 0, 1, 1);
    --easing-standard: cubic-bezier(0.2, 0, 0, 1);
    --easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
    --easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
    --easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
    --easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
    --easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
    --easing-legacy: cubic-bezier(0.4, 0, 0.2, 1);
    --easing-legacy-accelerate: cubic-bezier(0.4, 0, 1, 1);
    --easing-legacy-decelerate: cubic-bezier(0, 0, 0.2, 1);
}